/*
 * Copyright 2021 Amotus Solutions Inc.
 */

#include "imx8mq-var-dart-dt8mcustomboard-legacy-wifi-hdmi.dts"
#include "imx8mq-var-dart-dt8mcustomboard-m4.dtsi"

/ {
	/* WARNING: Be carefull here, the active board features are
	encoded in this string. */
	model = "Diamentis DART-MX8M on DT8MCustomBoard 1.x M4+WIFI+HDMI";

	/* 
	 * sound-hdmi is enabled by imx8mm-var-dart-dt8mcustomboard-hdmi.dtsi, make sure it stays
	 * disabled.
	 */
	sound-hdmi {
		status = "disabled";
	};
};

/*
* Enable rpmsg
*/
&rpmsg {
	status = "okay";
};

/*
* Enable i2C3 because imx8mq-var-dart-dt8mcustomboard-m4.dtsi disables it
*/
&i2c3 {
	status = "okay";
};

/*
 * uart4 is activated by imx8mq-var-dart-wifi.dtsi, make sure it stays
 * disabled.
 */
&uart4 {
	status = "disabled";
};

/*
 * Disable spi1 bus. Used by touch controller, CAN controller and the
 * SPI test device.
 */
&ecspi1 {
	status = "disabled";
};

/* disable gpio2 bank to make it available in the M4 */
&gpio2 {
	status = "disabled";
};

&gpio5 {
	/* disable BT buffer/level shifter */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_bt>;

	bt-en {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "bt_en";
	};
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_HIGH>,
		   <&gpio3 21 GPIO_ACTIVE_HIGH>,
		   <&gpio3 22 GPIO_ACTIVE_HIGH>,
		   <&gpio3 23 GPIO_ACTIVE_HIGH>;
	fsl,spi-num-chipselects = <4>;
	status = "okay";

	/* Test SPI device */
        spidev@0 {
		/* TODO: add specific compatible string, all spi
		devices are compatible with spidev */
		compatible = "spidev";
		spi-max-frequency = <20000000>;
		reg = <0>;
        };

        spidev@1 {
		/* TODO: add specific compatible string, all spi
		devices are compatible with spidev */
		compatible = "spidev";
		spi-max-frequency = <20000000>;
		reg = <1>;
        };

        spidev@2 {
		/* TODO: add specific compatible string, all spi
		devices are compatible with spidev */
		compatible = "spidev";
		spi-max-frequency = <20000000>;
		reg = <2>;
        };

        spidev@3 {
		/* TODO: add specific compatible string, all spi
		devices are compatible with spidev */
		compatible = "spidev";
		spi-max-frequency = <20000000>;
		reg = <3>;
        };
};

&iomuxc {
	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
		MX8MQ_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK		0x1b
		MX8MQ_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI		0x1b
		MX8MQ_IOMUXC_ECSPI2_MISO_ECSPI2_MISO		0x1b
		MX8MQ_IOMUXC_ECSPI2_SS0_GPIO5_IO13 		0x1b
		MX8MQ_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x1b
		MX8MQ_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x1b
		MX8MQ_IOMUXC_SAI5_RXD2_GPIO3_IO23		0x1b
		>;
	};
};

/*
 * Disable OV5640 and enable OV2311.
 */
&ov5640_mipi1 {
	status = "disabled";
};

&i2c2 {
	ov2311_mipi1: ov2311_mipi1@42 {
		status = "okay";
		compatible = "ov2311";
		reg = <0x42>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi1>;
		clocks = <&clk IMX8MQ_CLK_CLKO2>;
		clock-names = "csi_mclk";
		csi_id = <0>;
	    mipi-data-lanes = <2>;
		camera-mipi-clk = <832>;
		pwn-gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio5 28 GPIO_ACTIVE_HIGH>;
		mclk = <24000000>;
		mclk_source = <0>;
		port {
			ov2311_mipi1_ep: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;
			};
		};
       };
};

        
&mipi1_sensor_ep {
		remote-endpoint = <&ov2311_mipi1_ep>;
	data-lanes = <1 2>;
};

&mipi_csi_1 {
	assigned-clock-rates = <266000000>, <250000000>, <66000000>;
	ov2311-csi-bridge;
};

&csi1_bridge {
	ov2311-csi-bridge;
};
