/*
 * Copyright (C) 2018 Amotus Solutions, Inc.
 */

/dts-v1/;

#include "imx6ull-dart6ul.dtsi"
#include "imx6ull-dart6ul-emmc-wifi.dtsi"
#include "imx6ull-dart6ul-ethernet.dtsi"

/ {
	model = "IDE Systems DistributionBox";
	compatible = "ide,imx6ull-dart6ul-ide", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led1 &pinctrl_led2>;

		compatible = "gpio-leds";

		led1 {
			label = "external:green:heartbeat";
			gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led2 {
			label = "external:red:fault";
			gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led3 {
			label = "internal:green:heartbeat";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "hearbeat";
			default-state = "on";
		};

		led4 {
			label = "internal:red:fault";
			gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	pps {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps>;
		compatible = "pps-gpio";
		gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&i2c1 {
	/* breaker status inputs 1-16 */
	ioexpander1: ioexpander@20 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;

		interrupt-parent = <&gpio2>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;
	};

	/* breaker status inputs 17-32 */
	ioexpander2: ioexpander@21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;

		interrupt-parent = <&gpio2>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;
	};

	/* contactor control outputs 1-16 */
	ioexpander3: ioexpander@22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
	};

	/* contactor control outputs 17-32 */
	ioexpander4: ioexpander@23 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x23>;
	};

	/* relay outputs */
	ioexpander5: ioexpander@24 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x24>;
	};

	/* switch inputs */
	ioexpander6: ioexpander6@25 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x25>;

		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&i2c2 {
	rtc: mcp7940x@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};

	sensor1: lm75@48 {
		compatible = "lm75";
		reg = <0x48>;
		interrupt-parent = <&gpio4>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
		#thermal-sensor-cells = <0>;
	};
};

/* ttymxc0 - debug uart */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc2 uart - xbee */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc3 uart - rs485-1 */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	linux,rs485-enabled-at-boot-time;
	rts-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
	/* uart-has-rtscts; */
	/* fsl,dte-mode; */
	status = "okay";
};

/* ttymxc4 uart - rs485-2 */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	linux,rs485-enabled-at-boot-time;
	rts-gpios = <&gpio4 23 GPIO_ACTIVE_HIGH>;
	/* uart-has-rtscts; */
	/* fsl,dte-mode; */
	status = "okay";
};

/* ttymxc5 uart - gps */
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	dr_mode = "peripheral";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&gpio1 {
	gpio-line-names = "CB_GPIOF", "", "", "", "", "CB_GPIOE", "", "",
	"", "", "", "METER_RST", "METER_ID0", "METER_ID1", "METER_ADR0", "METER_ADR1",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "CB_ID0", "CB_ID1", "CB_GPIOA", "CB_RST", "", "CB_GPIOB",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";

	cb_rst {
		gpios = <13 GPIO_ACTIVE_LOW>;
		gpio-hog;
		output-low;
	};
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "METER_PC7", "METER_PC8", "METER_PC10", "METER_PC9", "", "", "";
};

&gpio5 {
	gpio-line-name = "", "", "", "", "", "", "", "",
	"XBEE_RST", "XBEE_SLEEP", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";

	xbee_sleep {
		gpios = <9 GPIO_ACTIVE_LOW>;
		gpio-hog;
		input;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog1>;

	pinctrl_hog1: hog1grp {
		fsl,pins = <
		/* Control board gpios */
		MX6UL_PAD_ENET2_RX_DATA0__GPIO2_IO08   0x1b0b0 /* CB_INT1 */
		MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09   0x1b0b0 /* CB_INT2 */
		MX6UL_PAD_ENET2_RX_EN__GPIO2_IO10      0x1b0b0 /* CB_ID0 */
		MX6UL_PAD_ENET2_TX_DATA0__GPIO2_IO11   0x1b0b0 /* CB_ID1 */
		MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12   0x1b0b0 /* CB_GPIOA */
		MX6UL_PAD_ENET2_TX_EN__GPIO2_IO13      0x1b0b0 /* CB_RST */
		MX6UL_PAD_ENET2_TX_CLK__GPIO2_IO14     0x1b0b0 /* CB_INT0 */
		MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15      0x1b0b0 /* CB_GPIOB */
		/* MX6UL_PAD_GPIO1_IO06__GPIO1_IO06       0x1b0b0 /\* CB_GPIOC *\/ */
		/* MX6UL_PAD_GPIO1_IO07__GPIO1_IO07       0x1b0b0 /\* CB_GPIOD *\/ */
		MX6UL_PAD_GPIO1_IO05__GPIO1_IO05       0x1b0b0 /* CB_GPIOE */
		MX6UL_PAD_GPIO1_IO00__GPIO1_IO00       0x1b0b0 /* CB_GPIOF */
		/* Meter gpios */
		MX6UL_PAD_JTAG_TMS__GPIO1_IO11	       0x1b0b0 /* METER_RSTn */
		MX6UL_PAD_JTAG_TDO__GPIO1_IO12	       0x1b0b0 /* METER_ID_B0 */
		MX6UL_PAD_JTAG_TDI__GPIO1_IO13	       0x1b0b0 /* METER_ID_B1 */
		MX6UL_PAD_JTAG_TCK__GPIO1_IO14	       0x1b0b0 /* METER_ADR_B0 */
		MX6UL_PAD_JTAG_TRST_B__GPIO1_IO15      0x1b0b0 /* METER_ADR_B1 */
		MX6UL_PAD_CSI_DATA04__GPIO4_IO25       0x1b0b0 /* METER_PC7 */
		MX6UL_PAD_CSI_DATA05__GPIO4_IO26       0x1b0b0 /* METER_PC8 */
		MX6UL_PAD_CSI_DATA06__GPIO4_IO27       0x1b0b0 /* METER_PC10 */
		MX6UL_PAD_CSI_DATA07__GPIO4_IO28       0x1b0b0 /* METER_PC9 */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
		MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
		MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		MX6UL_PAD_UART1_CTS_B__UART1_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART1_RTS_B__UART1_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_gpspwr: gpspwrgrp {
		fsl,pins = <
		MX6UL_PAD_JTAG_MOD__GPIO1_IO10	       0x0b0b0 /* GPS power-enable */
		>;
	};

	pinctrl_sensor: sensorgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_HSYNC__GPIO4_IO20	       0x1b0b0 /* Over temperature irq */
		>;
	};

	pinctrl_pps: ppsgrp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO09__GPIO1_IO09       0x1b0b0 /* GPS PPS (default: 1Hz) */
		>;
	};

	pinctrl_led1: ledgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA03__GPIO4_IO24       0x1b0b0 /* Internal red led */
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO01__USB_OTG1_OC      0x1b0b0
		MX6UL_PAD_GPIO1_IO04__USB_OTG1_PWR     0x80000000
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
		MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX	0x1b0b1
		MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX	0x1b0b1
		MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART3_RTS_B__UART3_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
		MX6UL_PAD_LCD_CLK__UART4_DCE_TX		0x1b0b1
		MX6UL_PAD_LCD_ENABLE__UART4_DCE_RX	0x1b0b1
		/* TODO: Connect both RTS and CTS */
		/* MX6UL_PAD_LCD_VSYNC__UART4_DCE_RTS	0x1b0b1 */
		MX6UL_PAD_LCD_VSYNC__GPIO3_IO03         0x1b0b1
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA00__UART5_DCE_TX	0x1b0b1
		MX6UL_PAD_CSI_DATA01__UART5_DCE_RX	0x1b0b1
		/* TODO: Connect both RTS and CTS */
		/* MX6UL_PAD_CSI_DATA02__UART5_DCE_RTS	0x1b0b1 */
		MX6UL_PAD_CSI_DATA02__GPIO4_IO23        0x1b0b1
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
		MX6UL_PAD_CSI_MCLK__UART6_DCE_TX	0x1b0b1
		MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX	0x1b0b1
		>;
	};
};

&iomuxc_snvs {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_xbee>;

	pinctrl_led2: ledgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER5__GPIO5_IO05	0x1b0b0 /* External green led */
		MX6ULL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x1b0b0 /* External red led */
		MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01	0x1b0b0 /* Internal green led */
		>;
	};

	pinctrl_xbee: xbeegrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08	0x1b0b0 /* XBee reset */
		MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09	0x1b0b0 /* XBee sleep */
		>;
	};

	pinctrl_alarm: alarmgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07	0x1b0b0 /* RTC alarm */
		>;
	};
};
