/*
 * Copyright (C) 2018 Amotus Solutions, Inc.
 */

/dts-v1/;

#include "imx6ull-dart6ul.dtsi"
#include "imx6ull-dart6ul-emmc-wifi.dtsi"
#include "imx6ull-dart6ul-ethernet.dtsi"

/ {
	model = "IDE Systems DistributionBox";
	compatible = "ide,imx6ull-dart6ul-ide", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led1 &pinctrl_led2>;

		compatible = "gpio-leds";

		led1 {
			label = "external:green:heartbeat";
			gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led2 {
			label = "external:red:fault";
			gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led3 {
			label = "internal:green:heartbeat";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "hearbeat";
			default-state = "off";
		};

		led4 {
			label = "internal:red:fault";
			gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	pps {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps>;
		compatible = "pps-gpio";
		gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&i2c1 {
	/* breaker status 1-16 */
	ioexpander1: ioexpander@20 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;

		interrupt-parent = <&gpio2>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;

		status1 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status1";
		};

		status2 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status2";
		};

		status3 {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status3";
		};

		status4 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status4";
		};

		status5 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status5";
		};

		status6 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status6";
		};

		status7 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status7";
		};

		status8 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status8";
		};

		status9 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status9";
		};

		status10 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status10";
		};

		status11 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status11";
		};

		status12 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status12";
		};

		status13 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status13";
		};

		status14 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status14";
		};

		status15 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status15";
		};

		status16 {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status16";
		};
	};

	/* breaker status 17-32 */
	ioexpander2: ioexpander@21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;

		interrupt-parent = <&gpio2>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;

		status17 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status17";
		};

		status18 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status18";
		};

		status19 {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status19";
		};

		status20 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status20";
		};

		status21 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status21";
		};

		status22 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status22";
		};

		status23 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status23";
		};

		status24 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status24";
		};

		status25 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status25";
		};

		status26 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status26";
		};

		status27 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status27";
		};

		status28 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status28";
		};

		status29 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status29";
		};

		status30 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status30";
		};

		status31 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status31";
		};

		status32 {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "status32";
		};
	};

	/* contactor control 1-16 */
	ioexpander3: ioexpander@22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;

		ctrl1 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl1";
		};

		ctrl2 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl2";
		};

		ctrl3 {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl3";
		};

		ctrl4 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl4";
		};

		ctrl5 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl5";
		};

		ctrl6 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl6";
		};

		ctrl7 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl7";
		};

		ctrl8 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl8";
		};

		ctrl9 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl9";
		};

		ctrl10 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl10";
		};

		ctrl11 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl11";
		};

		ctrl12 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl12";
		};

		ctrl13 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl13";
		};

		ctrl14 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl14";
		};

		ctrl15 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl15";
		};

		ctrl16 {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl16";
		};
	};

	/* contactor control 17-32 */
	ioexpander4: ioexpander@23 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x23>;

		ctrl17 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl17";
		};

		ctrl18 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl18";
		};

		ctrl19 {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl19";
		};

		ctrl20 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl20";
		};

		ctrl21 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl21";
		};

		ctrl22 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl22";
		};

		ctrl23 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl23";
		};

		ctrl24 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl24";
		};

		ctrl25 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl25";
		};

		ctrl26 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl26";
		};

		ctrl27 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl27";
		};

		ctrl28 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl28";
		};

		ctrl29 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl29";
		};

		ctrl30 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl30";
		};

		ctrl31 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl31";
		};

		ctrl32 {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "ctrl32";
		};
	};

	/* relay */
	ioexpander5: ioexpander@24 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x24>;

		relay1 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay1";
		};

		relay2 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay2";
		};

		relay3 {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay3";
		};

		relay4 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay4";
		};

		relay5 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay5";
		};

		relay6 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay6";
		};

		relay7 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay7";
		};

		relay8 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "relay8";
		};
	};

	/* switch */
	ioexpander6: ioexpander6@25 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x25>;

		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;

		switch1 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch1";
		};

		switch2 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch2";
		};

		switch3 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch3";
		};

		switch4 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch4";
		};

		switch5 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch5";
		};

		switch6 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch6";
		};

		switch7 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch7";
		};

		switch8 {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			input;
			line-name = "switch8";
		};
	};
};

&i2c2 {
	rtc: mcp7940x@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};

	sensor1: lm75@48 {
		compatible = "lm75";
		reg = <0x48>;
		interrupt-parent = <&gpio4>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
		#thermal-sensor-cells = <0>;
	};
};

/* debug uart */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc2 uart - xbee */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3 &pinctrl_xbee>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc3 uart - rs485-1 */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

/* ttymxc4 uart - rs485-2 */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

/* ttymxc5 uart - gps */
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	dr_mode = "otg";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&gpio1 {
	gps_pwr_en {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "GPS_PWR_EN";
	};

	meter_rst {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "METER_RST";
	};

	meter_id0 {
		gpio-hog;
		gpios = <12 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_ID0";
	};

	meter_id1 {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_ID1";
	};

	meter_adr0 {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_ADR0";
	};

	meter_adr1 {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_ADR1";
	};
};

&gpio2 {
	cb_rst {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "CB_RST";
	};

	cb_gpioa {
		gpio-hog;
		gpios = <12 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "CB_GPIOA";
	};

	cb_gpiob {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "CB_GPIOB";
	};

	cb_id0 {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "CB_ID0";
	};

	cb_id1 {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "CB_ID1";
	};
};

&gpio4 {
	meter_pc7 {
		gpio-hog;
		gpios = <25 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_PC7";
	};

	meter_pc8 {
		gpio-hog;
		gpios = <26 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_PC8";
	};

	meter_pc9 {
		gpio-hog;
		gpios = <28 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_PC9";
	};

	meter_pc10 {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "METER_PC10";
	};
};

&gpio5 {
	xbee_rst {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "XBEE_RST";
	};

	xbee_sleep {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "XBEE_SLEEP";
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog1 &pinctrl_gpspwr>;

	pinctrl_hog1: hog1grp {
		fsl,pins = <
		/* Control board gpios */
		MX6UL_PAD_ENET2_RX_DATA0__GPIO2_IO08   0x1b0b0 /* CB_INT1 */
		MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09   0x1b0b0 /* CB_INT2 */
		MX6UL_PAD_ENET2_RX_EN__GPIO2_IO10      0x1b0b0 /* CB_ID0 */
		MX6UL_PAD_ENET2_TX_DATA0__GPIO2_IO11   0x1b0b0 /* CB_ID1 */
		MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12   0x1b0b0 /* CB_GPIOA */
		MX6UL_PAD_ENET2_TX_EN__GPIO2_IO13      0x1b0b0 /* CB_RST */
		MX6UL_PAD_ENET2_TX_CLK__GPIO2_IO14     0x1b0b0 /* CB_INT0 */
		MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15      0x1b0b0 /* CB_GPIOB */
		/* Meter gpios */
		MX6UL_PAD_JTAG_TMS__GPIO1_IO11	       0x1b0b0 /* METER_RSTn */
		MX6UL_PAD_JTAG_TDO__GPIO1_IO12	       0x1b0b0 /* METER_ID_B0 */
		MX6UL_PAD_JTAG_TDI__GPIO1_IO13	       0x1b0b0 /* METER_ID_B1 */
		MX6UL_PAD_JTAG_TCK__GPIO1_IO14	       0x1b0b0 /* METER_ADR_B0 */
		MX6UL_PAD_JTAG_TRST_B__GPIO1_IO15      0x1b0b0 /* METER_ADR_B1 */
		MX6UL_PAD_CSI_DATA04__GPIO4_IO25       0x1b0b0 /* METER_PC7 */
		MX6UL_PAD_CSI_DATA05__GPIO4_IO26       0x1b0b0 /* METER_PC8 */
		MX6UL_PAD_CSI_DATA06__GPIO4_IO27       0x1b0b0 /* METER_PC10 */
		MX6UL_PAD_CSI_DATA07__GPIO4_IO28       0x1b0b0 /* METER_PC9 */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
		MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
		MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		MX6UL_PAD_UART1_CTS_B__UART1_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART1_RTS_B__UART1_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_gpspwr: gpspwrgrp {
		fsl,pins = <
		MX6UL_PAD_JTAG_MOD__GPIO1_IO10	       0x1b0b0 /* GPS power-enable */
		>;
	};

	pinctrl_sensor: sensorgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_HSYNC__GPIO4_IO20	       0x1b0b0 /* Over temperature irq */
		>;
	};

	pinctrl_pps: ppsgrp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO09__GPIO1_IO09       0x1b0b0 /* GPS PPS (default: 1Hz) */
		>;
	};

	pinctrl_led1: ledgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA03__GPIO4_IO24       0x1b0b0 /* Internal red led */
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO01__USB_OTG1_OC      0x1b0b0
		MX6UL_PAD_GPIO1_IO04__USB_OTG1_PWR     0x80000000
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
		MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX	0x1b0b1
		MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX	0x1b0b1
		MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART3_RTS_B__UART3_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
		MX6UL_PAD_LCD_CLK__UART4_DCE_TX		0x1b0b1
		MX6UL_PAD_LCD_ENABLE__UART4_DCE_RX	0x1b0b1
		MX6UL_PAD_LCD_VSYNC__UART4_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA00__UART5_DCE_TX	0x1b0b1
		MX6UL_PAD_CSI_DATA01__UART5_DCE_RX	0x1b0b1
		MX6UL_PAD_CSI_DATA02__UART5_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
		MX6UL_PAD_CSI_MCLK__UART6_DCE_TX	0x1b0b1
		MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX	0x1b0b1
		>;
	};
};

&iomuxc_snvs {
	pinctrl_led2: ledgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER5__GPIO5_IO05	0x1b0b0 /* External green led */
		MX6ULL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x1b0b0 /* External red led */
		MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01	0x1b0b0 /* Internal green led */
		>;
	};

	pinctrl_xbee: xbeegrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08	0x1b0b0 /* XBee reset */
		MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09	0x1b0b0 /* XBee sleep */
		>;
	};

	pinctrl_alarm: alarmgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07	0x1b0b0 /* RTC alarm */
		>;
	};
};
