/*
 * Copyright (C) 2018 Amotus Solutions, Inc.
 */

#include "imx6ull-dart6ul.dtsi"
#include "imx6ull-dart6ul-emmc-wifi.dtsi"
#include "imx6ull-dart6ul-ethernet.dtsi"

/ {
	model = "IDE Systems DistributionBox";
	compatible = "ide,imx6ull-dart6ul-ide", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led1 &pinctrl_led2>;

		compatible = "gpio-leds";

		led1 {
			label = "external:green:heartbeat";
			gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led2 {
			label = "external:red:fault";
			gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led3 {
			label = "internal:green:heartbeat";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led4 {
			label = "internal:red:fault";
			gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
};

&i2c1 {
	/* breaker status inputs 1-16 */
	ioexpander1: ioexpander@20 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		gpio-line-names = "BR1", "BR2", "BR3", "BR4", "BR5", "BR6", "BR7", "BR8",
				  "BR9", "BR10", "BR11", "BR12", "BR13", "BR14", "BR15", "BR16";

		interrupt-parent = <&gpio2>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;
	};

	/* breaker status inputs 17-32 */
	ioexpander2: ioexpander@21 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;
		gpio-line-names = "BR17", "BR18", "BR19", "BR20", "BR21", "BR22", "BR23", "BR24",
				  "BR25", "BR26", "BR27", "BR28", "BR29", "BR30", "BR31", "BR32";

		interrupt-parent = <&gpio2>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		microchip,irq-mirror;
	};

	/* contactor control outputs 1-16 */
	ioexpander3: ioexpander@22 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		gpio-line-names = "CON1", "CON2", "CON3", "CON4", "CON5", "CON6", "CON7", "CON8",
				  "CON9", "CON10", "CON11", "CON12", "CON13", "CON14", "CON15", "CON16";
	};

	/* contactor control outputs 17-32 */
	ioexpander4: ioexpander@23 {
		compatible = "microchip,mcp23017";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x23>;
		gpio-line-names = "CON17", "CON18", "CON19", "CON20", "CON21", "CON22", "CON23", "CON24",
				  "CON25", "CON26", "CON27", "CON28", "CON29", "CON30", "CON31", "CON32";
	};

	/* relay outputs 1-8 */
	ioexpander5: ioexpander@24 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x24>;
		gpio-line-names = "RL1", "RL2", "RL3", "RL4", "RL5", "RL6", "RL7", "RL8";
	};

	/* switch inputs 1-8 */
	ioexpander6: ioexpander6@25 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x25>;
		gpio-line-names = "SW1", "SW2", "SW3", "SW4", "SW5", "SW6", "SW7", "SW8";

		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&i2c2 {
	rtc: mcp7940x@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};

	sensor1: lm75@48 {
		compatible = "lm75";
		reg = <0x48>;
		interrupt-parent = <&gpio4>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
		#thermal-sensor-cells = <0>;
	};
};

/* ttymxc0 uart - debug uart */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc2 uart - xbee */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	uart-has-rtscts;
	status = "okay";
};

/* ttymxc3 uart - rs485-1 */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	linux,rs485-enabled-at-boot-time;
	rts-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/* ttymxc4 uart - rs485-2 */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	linux,rs485-enabled-at-boot-time;
	rts-gpios = <&gpio4 23 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/* ttymxc5 uart - gps */
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

/* DTE mode */
/* /\* ttymxc3 uart - rs485-1 *\/ */
/* &uart4 { */
/* 	pinctrl-names = "default"; */
/* 	pinctrl-0 = <&pinctrl_uart4>; */
/* 	linux,rs485-enabled-at-boot-time; */
/* 	uart-has-rtscts; */
/* 	fsl,dte-mode; */
/* 	status = "okay"; */
/* }; */

/* /\* ttymxc4 uart - rs485-2 *\/ */
/* &uart5 { */
/* 	pinctrl-names = "default"; */
/* 	pinctrl-0 = <&pinctrl_uart5>; */
/* 	linux,rs485-enabled-at-boot-time; */
/* 	uart-has-rtscts; */
/* 	fsl,dte-mode; */
/* 	status = "okay"; */
/* }; */

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	dr_mode = "peripheral";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&gpio1 {
	gpio-line-names = "CB_GPIOF", "", "", "", "", "CB_GPIOE", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "CB_ID0", "CB_ID1", "CB_GPIOA", "CB_RST", "", "CB_GPIOB",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";

	cb_rst {
		gpios = <13 GPIO_ACTIVE_LOW>;
		gpio-hog;
		output-low;
	};
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "METER_PC7", "METER_PC8", "METER_PC10", "METER_PC9", "", "", "";
};

&gpio5 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"XBEE_RST", "XBEE_SLEEP", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";

	xbee_sleep {
		gpios = <9 GPIO_ACTIVE_LOW>;
		gpio-hog;
		input;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog1>;

	pinctrl_hog1: hog1grp {
		fsl,pins = <
		/* Control board gpios */
		MX6UL_PAD_ENET2_RX_DATA0__GPIO2_IO08   0x1b0b0 /* J1-37: CB_INT1 */
		MX6UL_PAD_ENET2_RX_DATA1__GPIO2_IO09   0x1b0b0 /* J1-39: CB_INT2 */
		MX6UL_PAD_ENET2_RX_EN__GPIO2_IO10      0x1b0b0 /* J1-31: CB_ID0 */
		MX6UL_PAD_ENET2_TX_DATA0__GPIO2_IO11   0x1b0b0 /* J1-43: CB_ID1 */
		MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12   0x1b0b0 /* J1-35: CB_GPIOA */
		MX6UL_PAD_ENET2_TX_EN__GPIO2_IO13      0x1b0b0 /* J1-45: CB_RST */
		MX6UL_PAD_ENET2_TX_CLK__GPIO2_IO14     0x1b0b0 /* J1-57: CB_INT0 */
		MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15      0x1b0b0 /* J1-55: CB_GPIOB */
		/* These pads are used internally by the ethernet phy */
		/* MX6UL_PAD_GPIO1_IO06__GPIO1_IO06       0x1b0b0 /\* J2-75: CB_GPIOC *\/ */
		/* MX6UL_PAD_GPIO1_IO07__GPIO1_IO07       0x1b0b0 /\* J2-79: CB_GPIOD *\/ */
		MX6UL_PAD_GPIO1_IO05__GPIO1_IO05       0x1b0b0 /* J2-27: CB_GPIOE */
		MX6UL_PAD_GPIO1_IO00__GPIO1_IO00       0x1b0b0 /* J2-60: CB_GPIOF */
		/* Meter gpios */
		MX6UL_PAD_CSI_DATA04__GPIO4_IO25       0x1b0b0 /* METER_PC7 */
		MX6UL_PAD_CSI_DATA05__GPIO4_IO26       0x1b0b0 /* METER_PC8 */
		MX6UL_PAD_CSI_DATA06__GPIO4_IO27       0x1b0b0 /* METER_PC10 */
		MX6UL_PAD_CSI_DATA07__GPIO4_IO28       0x1b0b0 /* METER_PC9 */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
		MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
		MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		MX6UL_PAD_UART1_CTS_B__UART1_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART1_RTS_B__UART1_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_sensor: sensorgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_HSYNC__GPIO4_IO20	       0x1b0b0 /* Over temperature irq */
		>;
	};

	pinctrl_led1: ledgrp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA03__GPIO4_IO24       0x1b0b0 /* Internal red led */
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO01__USB_OTG1_OC      0x1b0b0
		MX6UL_PAD_GPIO1_IO04__USB_OTG1_PWR     0x80000000
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
		MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX	0x1b0b1 /* J1-59 */
		MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX	0x1b0b1 /* J1-61 */
		MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS	0x1b0b1 /* J1-67 */
		MX6UL_PAD_UART3_RTS_B__UART3_DCE_RTS	0x1b0b1 /* J1-69 */
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
		MX6UL_PAD_LCD_CLK__UART4_DCE_TX		0x1b0b1 /* J1-49 */
		MX6UL_PAD_LCD_ENABLE__UART4_DCE_RX	0x1b0b1 /* J1-50 */
		MX6UL_PAD_LCD_VSYNC__GPIO3_IO03         0x1b0b1 /* J1-52 */
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA00__UART5_DCE_TX	0x1b0b1 /* J1-88 */
		MX6UL_PAD_CSI_DATA01__UART5_DCE_RX	0x1b0b1 /* J1-80 */
		MX6UL_PAD_CSI_DATA02__GPIO4_IO23 	0x1b0b1 /* J1-90 */
		>;
	};

	/* DTE mode */
	/* pinctrl_uart4: uart4grp { */
	/* 	fsl,pins = < */
	/* 	MX6UL_PAD_LCD_CLK__UART4_DTE_RX         0x1b0b1 /\* J1-49 *\/ */
	/* 	MX6UL_PAD_LCD_ENABLE__UART4_DTE_TX      0x1b0b1 /\* J1-50 *\/ */
	/* 	MX6UL_PAD_LCD_HSYNC__UART4_DTE_RTS      0x1b0b1 /\* J1-54 *\/ */
	/* 	>; */
	/* }; */

	/* pinctrl_uart5: uart5grp { */
	/* 	fsl,pins = < */
	/* 	MX6UL_PAD_CSI_DATA00__UART5_DTE_RX      0x1b0b1 /\* J1-88 *\/ */
	/* 	MX6UL_PAD_CSI_DATA01__UART5_DTE_TX      0x1b0b1 /\* J1-80 *\/ */
	/* 	MX6UL_PAD_CSI_DATA03__UART5_DTE_RTS     0x1b0b1 /\* J2-42 *\/ */
	/* 	>; */
	/* }; */

	pinctrl_uart6: uart6grp {
		fsl,pins = <
		MX6UL_PAD_CSI_MCLK__UART6_DCE_TX	0x1b0b1 /* J1-76 */
		MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX	0x1b0b1 /* J1-64 */
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO08__WDOG1_WDOG_B	0x78b0
		>;
	};
};

&iomuxc_snvs {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_xbee>;

	pinctrl_led2: ledgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER5__GPIO5_IO05	0x1b0b0 /* External green led */
		MX6ULL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x1b0b0 /* External red led */
		MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01	0x1b0b0 /* Internal green led */
		>;
	};

	pinctrl_xbee: xbeegrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08	0x1b0b0 /* XBee reset */
		MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09	0x1b0b0 /* XBee sleep */
		>;
	};

	pinctrl_alarm: alarmgrp {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07	0x1b0b0 /* RTC alarm */
		>;
	};
};
