/*
 * Copyright (C) 2018 Amotus Solutions, Inc.
 */

/ {
	regulators {
		compatible = "simple-bus";

		reg_3v3: regulator-3v3 {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};

	usdhc1_pwrseq: usdhc1-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio5 6 GPIO_ACTIVE_LOW>;
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2 &pinctrl_snvs_brcm_bt>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1 &pinctrl_brcm_wifi &pinctrl_snvs_brcm_wifi>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz &pinctrl_brcm_wifi &pinctrl_snvs_brcm_wifi>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz &pinctrl_brcm_wifi &pinctrl_snvs_brcm_wifi>;
	no-1-8-v;
	non-removable;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	vmmc-supply = <&reg_3v3>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	/* CYW4343W */
	brcmf: wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
	};
};

/* eMMC */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	no-1-8-v;
	non-removable;
	keep-power-in-suspend;
	bus-width = <8>;
	status = "okay";
};

&iomuxc {
	pinctrl_uart2: uart2grp {
		fsl,pins = <
		MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
		MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
		MX6UL_PAD_UART2_CTS_B__UART2_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART2_RTS_B__UART2_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_brcm_wifi: brcm-wifi {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO03__OSC32K_32K_OUT	0x03029	/* WLAN Slow Clock */
		>;
	};
};

&iomuxc_snvs {
	pinctrl_snvs_brcm_bt: snvs-brcm-bt {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER4__GPIO5_IO04	0x1b0b0	/* BT Enable (BT_REG_ON) */
		>;
	};

	pinctrl_snvs_brcm_wifi: snvs-brcm-wifi {
		fsl,pins = <
		MX6ULL_PAD_SNVS_TAMPER6__GPIO5_IO06	0x1b0b0	/* WLAN enable (WL_REG_ON) */
		>;
	};
};
