/*
 * Copyright (C) 2018 Amotus Solutions, Inc.
 */

#include "imx6ull-dart6ul.dtsi"
#include "imx6ull-dart6ul-emmc-wifi.dtsi"
#include "imx6ull-dart6ul-ethernet.dtsi"

/ {
	model = "Teflex Radio System";
	compatible = "ide,imx6ull-dart6ul-ide", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};
};

/* ttymxc0 uart - debug uart */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};


&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	dr_mode = "peripheral";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&gpio1 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&gpio5 {
	gpio-line-names = "", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "",
	"", "", "", "", "", "", "", "";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_btn1>;

	pinctrl_btn1: btngrp {
		fsl,pins = <
		MX6UL_PAD_CSI_DATA03__GPIO4_IO24       0x1b0b0 /* GPIO4_24 RST_NETWORK */
		MX6UL_PAD_CSI_DATA02__GPIO4_IO23       0x130b0 /* GPIO4_23 BOOT0 */
		MX6UL_PAD_CSI_DATA01__GPIO4_IO22       0x1b0b0 /* GPIO4_22 NRESET MCU*/
		>;
	};
	
	pinctrl_uart1: uart1grp {
		fsl,pins = <
		MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
		MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		MX6UL_PAD_UART1_CTS_B__UART1_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART1_RTS_B__UART1_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
		MX6UL_PAD_GPIO1_IO01__USB_OTG1_OC      0x1b0b0
		MX6UL_PAD_GPIO1_IO04__USB_OTG1_PWR     0x80000000
		>;
	};
};
